<link rel="stylesheet" type="text/css" href="style.css">

<h1>Welcome to my website {{name}} (Main layout)</h1>

<p>Body -----\/</p>
{{{body}}}
<p>Body -----/\</p>

<p>See you again!  (Main layout)</p>
